@font-face {
  font-family: "Caveat";
  src: url("./fonts/Caveat-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
}

body {
  background:
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(./img/pexels-eva-bronzini-7598248.jpg);
  background-size: cover;
  background-position: center;
}

.speisekarte {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.heading {
  color: rgb(233, 233, 233);
  font-family: "Caveat";
  font-size: 2.5rem;
  letter-spacing: 1px;
  margin-top: 2rem;
}
