.hero {
    background-image: url('hero.jpg');
    background-size: cover;
    background-position: center;
    height: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.child {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}